body {
	background-color:#dddddd;
	margin:0;
	color:#ccc;
}

a {
	text-decoration:none;
}

a:link {
	color:#eee;
}

a:visited {
	color:#ddd;
}

a:hover {
	color:#fff;
}

#header {
	background-color:#6c6c6c;
	height:35px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	background-image:url('../images/gradient.png');
}

#container {
	background-color:#555555;
	padding:10px;
	width:85%;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

#footer-container {

}

#footer {
	background-color:#6c6c6c;
	height:35px;
	padding-top:15px;
	padding-bottom:0px;
	padding-left:15px;
	padding-right:15px;
	margin-top:15px;
	position:absolute;
	bottom:0;
}

.left {
	float:left;
	width: 70%;
}

.right {
	float:right;
	width: 25%;
}

.text {
	margin-bottom: 0.5em;
}

.button {
	background-color:#838383;
	min-width:75px;
	/*height:25px;*/
	float:left;
	padding:5px;
}

.button:hover {
	background-color:#999;
}

.user {
	float:right;
}

.avatar {
	float:left;
	padding:5px;
}

.profile {
	width:100%;
	float:left;
}

.name {
	font-size:32px;
}

.comments {

}

.comment-avatar {
	float:left;
	/*padding:5px;*/
}

.comment-author {
	width:100%;
}

.comment-timestamp {
}

.comment-text {
	width:100%;
}
