html, body {
	height: 100%;
	padding: 0;
	background-color: #ddd;
}

a:hover {
	text-decoration: none;
	opacity: 0.4;
}

.navbar {
	border-radius: 0 0 10px 10px;
}

.navbar a {
	opacity: 0.75;
}

.navbar a:hover {
	opacity: 1;
}

.navbar-collapse, .navbar-form {
	padding: 0;
}

.navbar-nav {
	float:none;
}

.navbar-right {

}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

footer {
	/* see #wrap */
	height: 60px;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	margin-top: 20px;
}

.jumbotron {
	background-color: #fff;
}

.well {
	border: none;
	background-color: #fff;
}

.avatar-full {
	border: 5px solid;
	border-radius: 5px;
}

.avatar-small {
	float: left;
	width: 34px;
	border: 2px solid;
	border-radius: 2px;
}

.offline {
	border-color: #545454;
}

.online {
	border-color: #7bafd6;
}

.ingame {
	border-color: #9bc861;
}
