html, body {
	height: 100%;
	padding: 0;
	background-color: #ddd;
}

a:hover {
	text-decoration: none;
	opacity: 0.5;
}

a img:hover {
    opacity: 0.8;
}

.navbar {
	border-radius: 0 0 10px 10px;
}

.navbar a, .navbar a img {
	opacity: 0.9;
}

.navbar a:hover, .navbar a img:hover {
	opacity: 1;
}

.navbar-collapse, .navbar-form {
	padding: 0;
}

.navbar-nav {
	float:none;
}

.navbar-right {

}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height (inc. margin) */
	margin: 0 auto -60px;
	/* Pad bottom by footer height (inc. margin)*/
	padding: 0 0 60px;
}

footer {
	/* see #wrap */
	height: 60px;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	padding: 15px 20px !important;
}

.jumbotron {
	background-color: #fff;
	overflow: hidden;
	padding:15px;
	margin-bottom: 20px;
}

.jumbotron h1 {
	font-size: 36px;
	margin: 0 0 4px 0 !important;
}

@media (min-width: 992px) {
	.jumbotron {
		padding: 40px 60px !important;
	}

	.jumbotron h1 {
		font-size: 63px;
		margin: 0 0 15px 0 !important;
	}
}

.community-links > div {
	padding-right: 0px;
}

.well {
	border: none;
	background-color: #fff;
}

.avatar-full {
	border: 5px solid;
	border-radius: 5px;
}

.avatar-small {
	float: left;
	width: 34px;
	border: 2px solid;
	border-radius: 2px;
	margin: 2px 4px 2px 0;
}

.offline {
	border-color: #545454;
}

.online {
	border-color: #7bafd6;
}

.ingame {
	border-color: #9bc861;
}

input {
	height: 34px;
	margin: 2px;
	padding: 0 8px;
	border: 1px solid #ccc;
	border-radius: 2px;

}

.userlink {
    font-weight: bold;
}

.vote {
	font-size: 3em;
	font-weight: bold;
	line-height: 0;
	vertical-align: middle;
}

.vote-plus {
	color: green;
}

.vote-minus {
	color: red;
}

.vote-unselected {
	color: black;
}
