html, body {
	height: 100%;
	padding: 0;
	background-color: #ddd;
}

a:hover, input:hover, button:hover {
	text-decoration: none;
	opacity: 0.5;
}

a img:hover {
    opacity: 0.8;
}

.navbar {
	border-radius: 0 0 10px 10px;
}

.navbar a, .navbar a img {
	opacity: 0.9;
}

.navbar a:hover, .navbar a img:hover {
	opacity: 1;
}

.navbar-collapse, .navbar-form {
	padding: 0;
}

.navbar-nav {
	float:none;
}

.navbar-right {

}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height (inc. margin) */
	margin: 0 auto -60px;
	/* Pad bottom by footer height (inc. margin)*/
	padding: 0 0 60px;
}

footer {
	/* see #wrap */
	height: 60px;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	padding: 15px 20px !important;
}

.jumbotron {
	background-color: #fff;
	overflow: hidden;
	padding:15px;
	margin-bottom: 20px;
}

.jumbotron h1 {
	font-size: 36px;
	margin: 0 0 4px 0 !important;
}

@media (min-width: 992px) {
	.jumbotron {
		padding: 40px 60px !important;
	}

	.jumbotron h1 {
		font-size: 63px;
		margin: 0 0 15px 0 !important;
	}
}

.community-links > div {
	padding-right: 0px;
}

.comment {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #fff;
	/*border: 1px solid #e3e3e3;*/
	border-radius: 4px;
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
	/*box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
	/*border: none;*/
	/*background-color: inherit;*/
}

.bg-none {
	background-color: #fff;
}

.avatar-full {
	border: 5px solid;
	border-radius: 5px;
}

.avatar-small, .icon-sm {
	float: left;
	width: 34px;
	border: 2px solid;
	border-radius: 2px;
	margin: 2px 4px 2px 0;
}

.offline {
	border-color: #545454;
}

.online {
	border-color: #7bafd6;
}

.ingame {
	border-color: #9bc861;
}

input, button {
	height: 34px;
	margin-top: 2px;
	padding: 0 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	vertical-align: middle;
}

.userlink {
    font-weight: bold;
}

.btn-vote {
	font-size: 2.4em;
	font-weight: bold;
	line-height: 0;
	/*vertical-align: middle;*/
}

.rep-positive {
	border-color: #3c763d;
	padding: 1px;
}

.rep-negative {
	border-color: #a94442;
	padding: 1px;
}

.vote-unselected {
	color: black !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active,
.btn-default.active, .open .dropdown-toggle.btn-default {
	background-color: #fff;
	border-color: #ccc;
}
